<%- include("partials/header.ejs") %>
    
<form action="/edit/<%= post.postId %>?_method=PUT" method="post">

    <label for="tittle">Tittle</label>
    <input type="text" name="tittle" class="tittle" value="<%= post.tittle %>">

    <label for="content">Content</label>
    <textarea name="content" id="content"><%= post.content %></textarea>
    <button type="submit">Edit Post</button>

</form>

<%- include("partials/footer.ejs") %>