<%- include("partials/header.ejs") %>
    
<form action="/edit/<%= post.postId %>?_method=PUT" method="post">

    <div class="container my-4">
        
        <button type="submit" class="btn btn-primary btn-lg mb-4">Edit Post</button>

        <div class="form-floating mb-4">
            <input type="text" id="floatingTitle" autocomplete="off" name="title" class="form-control" placeholder="Title" required value="<%= post.title %>">
            <label for="floatingTitle">Title</label>
        </div>
        <div class="form-floating">
            <textarea name="content" id="floatingContent" class="form-control" placeholder="Text" ><%= post.content %></textarea>
            <label for="floatingContent">Content</label>
        </div>
    </div>

</form>

<%- include("partials/footer.ejs") %>